* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline-style: none;
    border: none;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    padding: 100px 0 100px 80px;
    text-align: left;
    white-space: nowrap;
}

h2 {
    margin-bottom: 80px;
}

#winner {
    font-weight: 500;
}

#result-container {
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 5;
    width: 600px;
    max-width: 80%;
    min-height: 300px;
    padding: 50px 35px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s ease-in-out;
}

#result-container.active {
    transform: translate(-50%, -50%) scale(1);
}

#close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
}

#overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: .2s ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#form-container img {
    width: 100%;
    margin-bottom: 10px;
}

input[type=button] {
    display: none;
}

label {
    display: block;
    padding: 15px;
    margin: 0 35px;
    border-radius: 8px;
    transition: all 0.1s ease-in;
}
label:hover {
    background-color: lightgrey;
    cursor: pointer;
}
label:focus {
    background-color: lightgrey;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
        padding: 60px 15px;
        font-weight: 500;
    }

    #form-container {
        justify-content: center;
    }

    label {
        margin: 0;
    }
}